#register{
	background-color: burlywood;
}

#login {
	background-color:lightcoral;
}

#allStudent{
	background-color:mediumseagreen;
}

#loginSuccess{
	background-color: steelblue;
}

#forms{
	background-color:mediumseagreen;
}