.next {
	font-family: 'Josefin Slab', serif;
	font-size: 20px;
	font-weight:bold;
	border-color: white;
	border-style: dotted;
	border-width: 3px;
}

#update {
	background-color: green;
	opacity: .8;
	padding:10px;
}

#login {
	background-color:tomato;
}

#allStudent{
	background-color:mediumseagreen;
}

#loginSuccess{
	background-color: steelblue;
}

#forms{
	background-color:mediumseagreen;
}

#enrollForm {
	background-color:steelblue;
}



.glyphicon {
	font-size:30px;
}

a {
	color:white;
}

#enrolltitle {
	font-family: 'Josefin Slab', serif;
	font-weight: bold;
	font-size:80px;
	color: gray;
}

#simpletitle {
	font-family: 'Josefin Slab', serif;
	font-size:80px;
	color: tomato;
	font-weight:normal;
}

#logo {
	width:80px;
	height:auto;
	margin-right:10px;
}

body {
	background-image: url("crayons.jpg");
	background-size: cover;
	font-family: 'Maven Pro', sans-serif;

}

#intro {
	background-color:white;
	padding:10px;
  	border-bottom: solid tomato 5px;
}

h1 {
	font-family: 'Josefin Slab', serif;
	font-weight: bold;
	color:white;
}


input {
	margin:5px;
}