#register{
	background-color: burlywood;
}

#login {
	background-color:lightcoral;
}

#allStudent{
	background-color:mediumseagreen;
}

#loginSuccess{
	background-color: steelblue;
}

#forms{
	background-color:mediumseagreen;
}

#enrollForm {
	background-color:silver;
}

.glyphicon {
	font-size:50px;
}